@model Promo.EverythingIsNew.WebApp.Models.UserProfileViewModel
<div class="header">
    <div class="header-wrap">
        <h1>@Model.FirstName!</h1>
        С &laquo;Билайн&raquo; можно всё!<br>
        Получите персональный тариф с бесплатными Мбайтами,<br>
        минутами и СМС по специальному промо-коду.
    </div><!--header-wrap-->
</div><!--header-->
<div class="content">
    <div class="content-wrap">
        <div class="slim-form">
            <h2>Заполните, чтобы получить предложение</h2>
            <div class="vk-fill">
                Проверьте, все ли данные мы определили верно из&nbsp;вашего профиля&nbsp;Вконтакте
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <form id="form-index" method="post">
                <div class="form-line">
                    <label for="first_name_field">Имя</label>
                    <div class="field">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "inp" } })
                    </div>
                </div>

                <div class="form-line">
                    <label for="last_name_field">Фамилия</label>
                    <div class="field">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "inp" } })
                    </div>
                </div>
                <div class="form-line">
                    <label for="phone_field">Номер телефона</label>
                    <div class="field">
                        <div class="prefix">+7</div>
                        @Html.EditorFor(model => model.CTN, new { htmlAttributes = new { @class = "inp phone" } })
                        <div class="hint phone-hint">
                            Номер телефона, которым вы пользуетесь.<br>
                            Номер может принадлежать сети любого российского<br>
                            оператора: Билайн, МТС, Мегафон, Теле2, Yota и пр.
                        </div>
                    </div>
                </div>
                <div class="form-line">
                    <label for="email_name_field">E-mail</label>
                    <div class="field">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "inp" } })
                    </div>
                </div>

                <div class="form-line" style="float:left;">
                    <label for="birthday_field">Дата рождения</label>
                    <div class="field" style="width:100px">
                        <table>
                            <tr>
                                <td>
                                    <div class="text-select text-select-day" style="width:100px;">
                                        <div class="inp option-selected option-selected-day" style="width:28px !important;">@Model.Day</div>
                                        <input type="hidden" name="day" id="day" value="@Model.Day" style="width:100px" />
                                        <div class="text-select-list text-select-list-day" style="display:block;width:100px;">
                                            @foreach (int day in Enumerable.Range(1, 31))
                                            {
                                                <div class="option option-day" style="width:100px">@day</div>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-select text-select-month" style="width:100px;float:left;">
                                        <div class="inp option-selected option-selected-month" style="width:28px !important;">@Model.Month</div>
                                        <input type="hidden" name="month" id="month" value="@Model.Month" />
                                        <div class="text-select-list text-select-list-month" style="display:block;">
                                            @foreach (int month in Enumerable.Range(1, 12))
                                            {
                                                <div class="option option-month" style="width:100px">@month</div>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-select text-select-year" style="width:100px;float:left;">
                                        <div class="inp option-selected option-selected-year" style="width:28px !important;">@Model.Year</div>
                                        <input type="hidden" name="year" id="year" value="@Model.Year" />
                                        <div class="text-select-list text-select-list-year" style="display:block;">
                                            @for (int year = DateTime.Now.Year - 10; year > 1915; year--)
                                            {
                                                <div class="option option-year" style="width:100px">@year</div>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*<div class="field">
                            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "inp" } })
                        </div>*@
                </div>
                <br>
                <div class="form-line">
                    <label for="place_field">Город</label>
                    <div class="field">
                        <div class="text-select text-select-city">
                            <div class="inp option-selected option-selected-city">@ViewBag.SelectedCity</div>
                            <input type="hidden" name="SelectMyCity" id="SelectMyCity" value="@ViewBag.SelectedCity" />
                            <div class="text-select-list text-select-list-city" style="display:block">
                                @foreach (string city in ViewBag.Cities)
                                {
                                    <div class="option option-city">@city</div>
                                }
                                @*<div class="option" alias="Питер,СПБ">Санкт-Петербург</div>*@
                            </div>
                        </div>
                        <div class="hint">Город или ближайший областной центр, в котором живете</div>
                    </div>
                </div>
                <br>

                <div class="form-line">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.IsPersonalDataAgree)
                        <span>Разрешаю использовать публичные данные моего профиля Вконтакте</span>
                        <div class="hint">мы не будем передавать данные третьим лицам и&nbsp;использовать профиль для&nbsp;публикации постов</div>
                    </div>
                </div>

                <div class="form-line">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.IsMailingAgree)
                        <span>Хочу получать по e-mail информацию о скидках, акциях и&nbsp;новых продуктах Билайн</span>
                    </div>
                </div>
                <br>

                <div class="form-line center" style="width:538px">
                    <button id="submit-index" class="btn-link">Посмотреть предложение</button>
                </div>

            </form>
        </div><!--slim-form-->
    </div><!--content-wrap-->
</div><!--content-->

<script>
    $(function () {
        var dropdown_city = $(".text-select-list-city");
        var options_city = $('.option-city');
        var selected_city = $('.option-selected-city');
        var hidden_city = $('#SelectMyCity');

        options_city.hide();
        dropdown_city.hide();
        selected_city.show();

        selected_city.click(function () {
            dropdown_city.show();
            options_city.show();
        });

        options_city.click(function () {
            var innerHtml = $(this).html();
            dropdown_city.hide();
            selected_city.html(innerHtml);
            hidden_city.val(innerHtml);
        });

        $(document).mouseup(function (e) {
            if (!dropdown_city.is(e.target)
                && dropdown_city.has(e.target).length === 0) {
                dropdown_city.hide();
            }

            if (!dropdown_day.is(e.target)
                && dropdown_day.has(e.target).length === 0) {
                dropdown_day.hide();
            }

            if (!dropdown_month.is(e.target)
                && dropdown_month.has(e.target).length === 0) {
                dropdown_month.hide();
            }

            if (!dropdown_year.is(e.target)
                && dropdown_year.has(e.target).length === 0) {
                dropdown_year.hide();
            }
        });


        var dropdown_day = $(".text-select-list-day");
        var options_day = $('.option-day');
        var selected_day = $('.option-selected-day');
        var hidden_day = $('#day');

        options_day.hide();
        dropdown_day.hide();
        selected_day.show();

        selected_day.click(function () {
            dropdown_day.show();
            options_day.show();
        });

        options_day.click(function () {
            var innerHtml = $(this).html();
            dropdown_day.hide();
            selected_day.html(innerHtml);
            hidden_day.val(innerHtml);
        });

        var dropdown_month = $(".text-select-list-month");
        var options_month = $('.option-month');
        var selected_month = $('.option-selected-month');
        var hidden_month = $('#month');

        options_month.hide();
        dropdown_month.hide();
        selected_month.show();

        selected_month.click(function () {
            dropdown_month.show();
            options_month.show();
        });

        options_month.click(function () {
            var innerHtml = $(this).html();
            dropdown_month.hide();
            selected_month.html(innerHtml);
            hidden_month.val(innerHtml);
        });

        var dropdown_year = $(".text-select-list-year");
        var options_year = $('.option-year');
        var selected_year = $('.option-selected-year');
        var hidden_year = $('#year');

        options_year.hide();
        dropdown_year.hide();
        selected_year.show();

        selected_year.click(function () {
            dropdown_year.show();
            options_year.show();
        });

        options_year.click(function () {
            var innerHtml = $(this).html();
            dropdown_year.hide();
            selected_year.html(innerHtml);
            hidden_year.val(innerHtml);
        });



        $("#form-index").validate({
            rules: {
                CTN: {
                    required: true,
                    minlength: 10,
                    maxlength: 10,
                    digits: true
                },
                Email: {
                    email: true,
                    required: true,
                }
            },
            messages: {
                CTN: {
                    required: "",
                    minlength: "",
                    maxlength: "",
                    digits: "",
                },
                Email: {
                    email: "",
                    required: "",
                }
            }
        });
    });
</script>

